<%- include("partials/header") -%>

    <div class="box">
        <h1>
            <%= navlist %>
        </h1>
        <p>
            <%= pGraph %>
        </p>
    </div>
    <%- include("partials/footer") -%>